{% comment %} Шаблон для письма сброса пароля {% endcomment %}
{% load i18n %}

{% blocktrans %}Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на сайте UniSport.{% endblocktrans %}

{% trans "Пожалуйста, перейдите по следующей ссылке, чтобы установить новый пароль:" %}

{# Используем переменную из контекста сигнала ИЛИ формируем вручную, если ее нет #}
{% if reset_password_url %}
  <a href="{{ reset_password_url }}">{{ reset_password_url }}</a>
{% else %}
  {# Запасной вариант, если FRONTEND_URL не передан в контекст #}
  http://localhost:5173/reset-password/{{ token }}/
{% endif %}


{% trans "Если вы не запрашивали сброс пароля, просто проигнорируйте это письмо." %}

{% trans "Спасибо!" %}

{% blocktrans %}Команда UniSport{% endblocktrans %}